.reviews {
    padding: 60px 0;

    &__title {
        margin-bottom: rem(40);
        color: #1376C2;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @include media(991) {
            margin-bottom: 20px;
            font-size: rem(25);
        }
    }

    .swiper {
        @media (max-width: 767px) {
            overflow: visible;
            padding-right: 40px;
        }
    }
    .swiper-button-next, .swiper-button-prev {
        @media (max-width: 767px) {display: none;}
    }

    .review {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #E7E9F7;
        background: #FFF;

        &__header {
            position: relative;
            display: flex;
            flex-direction: column;
            padding-left: 48px;
        }

        &__photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 38px;
            height: 38px;
            background: #5E5E5E;
            border-radius: 50%;
        }

        &__author {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
        }

        &__star {
            display: flex;
            align-items: center;
            gap: 4px;

            svg {
                width: 14px;
                height: 14px;
            }
        }

        &__cat {
            color: #1376C2;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
        }

        &__message {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
        }
    }
}